:root {
    --color-1: #FFFFFF;
    --color-2: #CCDAFF;
    --color-3: #678FFE;
    --color-4: #0145FE;
    --color-5: #0D1D49;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #808080
}

body {
    margin: 16px;
}

h1, h2, h3, h4 {
    margin: 0px;
}

.resume-container {
    position: relative;
    margin: auto;
    max-width: 1000px;
    background-color: var(--color-2);
    padding: 16px;
    border-radius: 4px;
    box-shadow: 0px 4px 8px 0px;
}

.resume-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: -16px;
    padding: 4px 24px;
    border-radius: 0px 4px 4px 0px;
    box-shadow: 0px 2px 4px 0px var(--color-5);
    background-color: var(--color-5);
    color: var(--color-2)
}

.section-header {
    position: relative;
    left: -16px;
    padding: 4px 16px;
    display: inline;
    border-radius: 0px 4px 4px 0px;
    background-color: var(--color-3);
    box-shadow: 0px 2px 4px 0px;
}

.resume-experience-list {
    list-style-type: none;
    padding: 0px;
}

.resume-education-list {
    list-style-type: none;
    padding: 0px;
}

a:link, a:visited {
    color: inherit;
}